.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ADF;
  padding: 10px;
  color: white;
}

.App-main {
  display: flex;
  flex-direction: row;
}

.App-nav {
  flex: 1;
  height: calc(100vh - 70px);
  background-color: #BED;
}

.App-nav ul li {
  list-style-type: none;
}

.App-content {
  flex: 3;
  height: calc(100vh - 70px);
  overflow: scroll;
}
